<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
    <%- include('../partials/_nav') %>
    <div>
        <h1>Dog Breeds</h1>
        <% dogs.forEach(dog => { %>
        <p><a href="/dogs/<%= dog.id %>"><%= dog.breed %></a></p>
        <% }) %>
        <br>
        <a href="/">Return TO Home Page</a>
        <a href="/dogs/new">Add New Breed</a>
    </div>
</body>
</html>