<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
    <%- include('../partials/_nav') %>
    <div>
        <h1>Add A new breed</h1>
        <form action="/dogs" method="POST">
            <label for="breed">Breed:</label><br>
            <input type="text" id="breed" name="breed" required><br><br>
            
            <label for="size">Size:</label><br>
            <select id="size" name="size" required>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
            </select><br><br>
            
            <label for="lifespan_years">Average Lifespan (years):</label><br>
            <input type="number" id="lifespan_years" name="lifespan_years" placeholder="7 years" required><br><br>
            
            <label for="temprament">Temperament:</label><br>
            <input type="text" id="temprament" name="temprament" placeholder="Friendly" required><br><br>
            
            <label for="origin">Origin:</label><br>
            <input type="text" id="origin" name="origin" required><br><br>
            
            <label for="averageWeight_Kg">Average Weight (kg):</label><br>
            <input type="number" id="averageWeight_Kg" name="averageWeight_Kg" placeholder="Weight" required><br><br>
            
            <input type="submit" value="Add Dog">
        </form>
        <a href="/dogs">See all Breeds</a> 
        <a href="/">Go Home</a>
    </div>
        
</body>
</html>